<button class="btn" [routerLink]="['/books']">back to books</button>

<div *ngIf="book" class="book-create-container box-shadow">
  <label class="label">Title</label>
  <input [(ngModel)]="book.title" class="form-input" type="text">
  <label  class="label">Genre</label>
  <input [(ngModel)]="book.genre" class="form-input" type="text">
  <label class="label">author</label>
  <input [(ngModel)]="book.author"class="form-input" type="text">
  <button (click)="updateBook(book.id, book)" class="btn pull-right">Update Book</button>
</div>