<div class="books-container">
  <mat-toolbar color="primary" class="create-toolbar">
    <mat-toolbar-row>
      <span class="title">All Books</span>
      <div class="button-row">
        <button (click)="goToCreate()" mat-raised-button color="accent" class="pull-right">
          Create a Book
          <mat-icon class="example-icon">add_circle</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="book-card-container">
    <mat-card class="grow item-card" *ngFor="let book of books; let i = index">
      <mat-toolbar color="warn" class="toolbar">
        <mat-toolbar-row>
          <mat-card-title>{{book.title}}</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-toolbar-row>
      </mat-toolbar>
      <img class="list-cover-image" mat-card-image [src]="book.image_url" alt="book">
      <mat-card-content>
        <p>ID: {{book.id}}</p>
        <P>Author: {{book.author}}</P>
        <P>Genre: {{book.genre}}</P>
        <P>Read: {{book.read}}</P>
      </mat-card-content>
      <mat-card-actions class="btn-action-grid">
        <button mat-raised-button (click)="deleteBook(book.id)" color="warn">
          Delete
          <mat-icon class="example-icon">clear</mat-icon>
        </button>
        <button mat-raised-button color="accent" [routerLink]="['/book',book.id]">
          Edit
          <mat-icon class="example-icon">edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
