<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="button-row">
      <span>Book App</span>&nbsp;&nbsp;
      <button mat-raised-button color="primary" [routerLink]="['home']" [routerLinkActive]="['is-active']">
        Home<mat-icon class="example-icon">home</mat-icon>
      </button>
      <button mat-raised-button color="accent" [routerLink]="['books']" [routerLinkActive]="['is-active']">
        Books<mat-icon class="example-icon">book</mat-icon>
      </button>
      <button mat-raised-button color="accent" [routerLink]="['beverages']" [routerLinkActive]="['is-active']">
        Beverages<mat-icon class="example-icon">local_drink</mat-icon>
      </button>
      <button mat-raised-button color="accent" class="pull-right" [routerLink]="['docs']" [routerLinkActive]="['is-active']">
        Documentation<mat-icon class="example-icon">insert_drive_file</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
