<div class="grid-container">
    <mat-card *ngIf="tank" class="input-container">
      <mat-toolbar color="primary" class="create-toolbar">
        <mat-toolbar-row>
          <span class="copyright">Create a Tank</span>
          <div class="button-row">
            <button [routerLink]="['/tanks']" mat-raised-button color="accent" class="pull-right">
              Back to Tank List
              <mat-icon class="example-icon">arrow_back</mat-icon>
            </button>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
  
      <mat-card-content>
        <div class="container">
          <mat-form-field class="input">
            <input [(ngModel)]="tank.tank_name" matInput placeholder="Tank Name" required>
          </mat-form-field>
  
          <mat-form-field class="input">
            <input [(ngModel)]="tank.serial_number" matInput placeholder="Serial Number" required>
          </mat-form-field>
  
          <mat-form-field class="input">
            <input [(ngModel)]="tank.gallons" matInput placeholder="Gallons" required>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="updateTank(tank)" color="primary">Update Tank</button>
      </mat-card-actions>
    </mat-card>
  </div>
  