.container {
  display: grid;
  grid-template-rows:1fr 15fr 1fr;
  height: 100%;
  background-color: #303031;
}

.gallery {
  width: calc(100% - 100px);
  overflow: auto;
  margin: 0 auto;
  padding: 0 50px;
  min-height: calc(100% - 130px);
  background-color:#303031;
}
