.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gallery {
  width: calc(100% - 100px);
  overflow: scroll;
  margin: 0 auto;
  padding: 0 50px;
  min-height: calc(100% - 130px);
}
