<button class="btn" (click)="goToCreate()">Create a tank</button>
<div *ngIf="tanks?.length > 0">
  <div class="book-card-container" *ngFor="let tank of tanks; let i = index">
    <div class="book-card" [routerLink]="['/tank',tank.id]">
      <P>ID: {{tank.id}}</P>
      <P>Tank Name: {{tank.tank_name}}</P>
      <P>Serial Number: {{tank.serial_number}}</P>
      <P>Gallons: {{tank.gallons}}</P>
      <P>Active: {{tank.active}}</P>
    </div>
    <button class="delete" (click)="deleteTank(tank.id)">X</button>
  </div>
</div>
